<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AlphaSense">
  <test thread-count="2"  name="Tests">

    <classes>
    <class name="com.alphasense.Testautomation.tests.Test_PageLogin"/>
     <class name="com.alphasense.Testautomation.tests.Test_PageInvalidLogin"/>
      <class name="com.alphasense.Testautomation.tests.Test_Test_PageCreateAnAccount"/>
      <class name="com.alphasense.Testautomation.tests.Test_PageMyAccountOrderShipClothes"/>
      <class name="com.alphasense.Testautomation.tests.Test_PageMyAccountSearchClothes"/>
    </classes>


  </test> <!-- Test -->

</suite> <!-- Suite -->
